# Загрузка Pandas и очистка данных

In [2]:
import pandas as pd
pd.set_option('display.max_columns', 50)

In [3]:
df = pd.read_csv('main_task.csv')

In [4]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки

In [5]:
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

In [24]:
print(df.loc[0]['URL_TA'])
print(df.loc[1]['URL_TA'])
print(df.loc[2]['URL_TA'])
print(df.loc[3]['URL_TA'])
print(df.loc[4]['URL_TA'])
print(df.loc[7]['URL_TA'])
print(df.loc[8]['URL_TA'])

/Restaurant_Review-g187147-d1912643-Reviews-R_Yves-Paris_Ile_de_France.html
/Restaurant_Review-g189852-d7992032-Reviews-Buddha_Nepal-Stockholm.html
/Restaurant_Review-g186338-d8632781-Reviews-ROKA_Mayfair-London_England.html
/Restaurant_Review-g187323-d1358776-Reviews-Esplanade-Berlin.html
/Restaurant_Review-g187309-d6864963-Reviews-Augustiner_Schutzen_Garten-Munich_Upper_Bavaria_Bavaria.html
/Restaurant_Review-g274924-d3199765-Reviews-Ristorante_Italiano_San_Cono-Bratislava_Bratislava_Region.html
/Restaurant_Review-g190454-d12845029-Reviews-Grunstern-Vienna.html

In [39]:
# print(df[df['Restaurant_id'] == 'id_1610'])
print(df.loc[9653]['URL_TA'])

/Restaurant_Review-g189852-d783448-Reviews-Non_solo_bar-Stockholm.html

In [8]:
# print(len(df['Restaurant_id'].unique()))
print(len(df['URL_TA'].unique()))

39980

In [37]:
df[6653:6654]

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
6653,id_915,Milan,['Seafood'],917.0,4.0,$$ - $$$,222.0,[['The best LUNCH MENU I have ever had. Perio....,/Restaurant_Review-g187849-d2468286-Reviews-Ac...,d2468286

In [10]:
df['URL_TA'].value_counts()

/Restaurant_Review-g187514-d7809594-Reviews-La_Guapa-Madrid.html                           2
/Restaurant_Review-g187514-d13002276-Reviews-Delish_Vegan_Doughnuts-Madrid.html            2
/Restaurant_Review-g187514-d4600226-Reviews-Cafeteria_Teresa-Madrid.html                   2
/Restaurant_Review-g187514-d697406-Reviews-Al_Mounia-Madrid.html                           2
/Restaurant_Review-g187514-d11674463-Reviews-Beerhouse-Madrid.html                         2
                                                                                          ..
/Restaurant_Review-g187849-d3691545-Reviews-Il_Pierrot_Di_Garofalo-Milan_Lombardy.html     1
/Restaurant_Review-g187514-d7353506-Reviews-La_pentola_magica-Madrid.html                  1
/Restaurant_Review-g187791-d12435434-Reviews-Avocado_Bar-Rome_Lazio.html                   1
/Restaurant_Review-g186338-d12948875-Reviews-Coupettes-London_England.html                 1
/Restaurant_Review-g187497-d986430-Reviews-Restaurante_Morrina-Barcelona_Catalonia.html    1
Name: URL_TA, Length: 39980, dtype: int64

In [12]:
print(df[df['URL_TA'] == '/Restaurant_Review-g187514-d7809594-Reviews-La_Guapa-Madrid.html'])

      Restaurant_id    City                     Cuisine Style  Ranking  \
15525       id_3967  Madrid  ['American', 'Spanish', 'Asian']   3969.0
19388       id_4331  Madrid  ['American', 'Spanish', 'Asian']   4333.0

       Rating Price Range  Number of Reviews   Reviews  \
15525     3.5         NaN               61.0  [[], []]
19388     3.5         NaN               61.0  [[], []]

                                                  URL_TA     ID_TA
15525  /Restaurant_Review-g187514-d7809594-Reviews-La...  d7809594
19388  /Restaurant_Review-g187514-d7809594-Reviews-La...  d7809594

In [13]:
print(len(df['ID_TA'].unique()))

39980

In [17]:
st = df[df['City'] == 'Stockholm']
st

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
135,id_237,Stockholm,"['Swedish', 'Scandinavian', 'Vegetarian Friend...",238.0,4.5,$$ - $$$,154.0,"[['Friendly evening with my sons', 'Proviant Ö...",/Restaurant_Review-g189852-d1496204-Reviews-Pr...,d1496204
156,id_1280,Stockholm,NaN,1281.0,4.5,NaN,2.0,"[['Family-friendly and fast!'], ['12/07/2017']]",/Restaurant_Review-g189852-d12949592-Reviews-G...,d12949592
257,id_128,Stockholm,"['Italian', 'Mediterranean', 'European', 'Vege...",129.0,4.5,$$ - $$$,183.0,"[['Fantastic birthday dinner', 'Chic'], ['01/0...",/Restaurant_Review-g189852-d5949148-Reviews-Un...,d5949148
303,id_538,Stockholm,"['American', 'Steakhouse', 'Bar', 'Barbecue']",539.0,4.0,$$ - $$$,82.0,"[['Best Bourbon Bar. Ever', 'A different kind ...",/Restaurant_Review-g189852-d780673-Reviews-Sad...,d780673
...,...,...,...,...,...,...,...,...,...,...
39809,id_416,Stockholm,"['Middle Eastern', 'Persian', 'Vegetarian Frie...",417.0,4.0,$$ - $$$,134.0,[['Fancy Persian restaurant with great servic....,/Restaurant_Review-g189852-d4858640-Reviews-Sh...,d4858640
39854,id_1981,Stockholm,NaN,1984.0,3.5,NaN,3.0,"[['Good generous salads', 'Salads any way you ...",/Restaurant_Review-g189852-d6413474-Reviews-Ni...,d6413474
39868,id_1802,Stockholm,['Indian'],1805.0,3.5,$$ - $$$,2.0,"[['Good food, boring interior'], ['08/10/2012']]",/Restaurant_Review-g189852-d1138210-Reviews-Cu...,d1138210
39992,id_13,Stockholm,"['Swedish', 'Scandinavian', 'Vegetarian Friend...",14.0,4.5,$$ - $$$,1162.0,"[['Great Viking Dinner', 'A foot stompingly go...",/Restaurant_Review-g189852-d2560559-Reviews-Ai...,d2560559
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615

In [18]:
for index, row in st[:10].iterrows():
    print(row['URL_TA'])

/Restaurant_Review-g189852-d7992032-Reviews-Buddha_Nepal-Stockholm.html
/Restaurant_Review-g189852-d1496204-Reviews-Proviant_Ostermalm-Stockholm.html
/Restaurant_Review-g189852-d12949592-Reviews-Gandhi_Grondal-Stockholm.html
/Restaurant_Review-g189852-d5949148-Reviews-Un_Poco-Stockholm.html
/Restaurant_Review-g189852-d780673-Reviews-Saddle_Sabre-Stockholm.html
/Restaurant_Review-g189852-d8774485-Reviews-STHLM_Brunch_Club-Stockholm.html
/Restaurant_Review-g189852-d5936523-Reviews-Pub_Diset-Stockholm.html
/Restaurant_Review-g189852-d13001385-Reviews-T8ng_Stockholm-Stockholm.html
/Restaurant_Review-g189852-d3478764-Reviews-Legumes-Stockholm.html
/Restaurant_Review-g189852-d3898172-Reviews-Duvel_cafe-Stockholm.html

In [21]:
# df.info()
?pd.get_dummies

In [18]:
# df.drop(['Restaurant_id', 'City', 'Cuisine Style', 'Price Range', 'Reviews', 'URL_TA', 'ID_TA'], axis=1, inplace=True)

In [31]:
df.fillna(0, inplace=True)

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [32]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Rating'], axis = 1)
y = df['Rating']

In [33]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [34]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [35]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [36]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [37]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.42716987229437225